Flask==2.0.2
Flask_SocketIO==5.1.1
gevent==21.12.0
gevent-websocket==0.10.1
Flask-Cors==3.0.10
MarkupSafe==2.0.1 # Required by Azure
flask_jwt_extended==4.3.1
flask-restful==0.3.8
python-engineio==4.3.1
python-socketio==5.5.2
eventlet==0.30.2 # Downgraded for Azure
msal==1.17.0
Flask-Session==0.4.0
werkzeug==2.0.2
imutils==0.5.4
opencv-python-headless== 4.5.3.56
azure-cognitiveservices-vision-face==0.6.0
matplotlib==3.5.1
numpy==1.18.5
tensorflow==2.3.1
protobuf==3.20.0 # Deal with Python 4.21
azure-ai-textanalytics==5.2.0b4
azure-ai-language-conversations==1.1.0b2
moviepy==1.0.3
azure-storage-blob==12.9.0
tqdm==4.62.3
openai==0.27.0
gunicorn==20.1.0
waitress==2.1.2 # Gunicorn for Windows