/* Global variables */
:root {
  --theme-black: #111;
  --theme-background: #eee;
  --theme-faintgray: #eee;
  --theme-lightgray: #ddd;
  --theme-gray: #666;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: var(--theme-black);
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  color: var(--theme-lightgray);
}

/* Main */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Card */
.card-rounded-border {
  border-radius: 1em;
}
.card-thumbnail {
  height: 150px;
  /* background-color: var(--theme-gray); */
  font-size: 3em;
  color: #fff;
}
.card-text-custom {
  min-height: 100px;
}
.card-theme {
  background-color: #555;
  color: var(--theme-lightgray);
}
.zoom {
  transition: transform .2s; /* Animation */
}
.zoom:hover {
  transform: scale(1.03);
}

/* Demo */
.loading-icon {
  width:4em;
  height:4em;
}
.demo-logo {
  font-size: 3.5em;
  border-radius: 100%;
  padding: .2em .3em;
}
.page-loader {
  height: 800px; 
  z-index: 999; 
  position: absolute; 
  width: 100%;
}
.demo-card {
  min-height: 640px;
}
.demo-thumbnail {
  max-height: 170px;
}

/* Starter Template - Common Utilities */
.invisible {
  visibility: hidden;
}
.hide {
  display: none;
}
.hidden {
  display: none !important;
}
.blue {
  background-color:  blue;
}
.red {
  background-color:  red;
}
.yellow {
  background-color:  yellow;
}
.white {
  background-color:  white;
}
.pointer {
  cursor: pointer;
}
.pointer-disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}
.h-right {
  align-items: flex-end;
  text-align: right;
}
.h-center {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  display: block;
}
.v-center {
  display: flex;
  align-items: center;
}
.v-top {
  display: flex;
  align-items: flex-start;
}
.b-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0 0 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.b-divider-upper-border {
  height: 2rem;
  box-shadow: 0 1.5em 1em -1em  rgba(0, 0, 0, .4) inset;
}

/* Starter Template - Common Styles */
.text-xxs {
  font-size: 0.7rem;
}
.text-xs {
  font-size: 0.8rem;
}
.text-s {
  font-size: 0.9rem;
}
.text-m {
  font-size: 1rem;
}
.text-l {
  font-size: 1.2rem;
}
.text-xl {
  font-size: 1.3rem;
}
.text-xxl {
  font-size: 1.4rem;
}
.text-xxxl {
  font-size: 2rem;
}
.text-4xl {
  font-size: 2.6rem;
}
.text-lightgray {
  color: var(--theme-lightgray);
}
.text-light {
  font-weight: 300;
}
.text-white {
  color: var(--theme-lightgray) !important;
}
.text-green {
  color: rgb(11, 156, 11);
}
.text-red {
  color: rgb(233, 51, 38);
}
.text-normal {
  font-weight: normal !important;
  font-style: normal !important;
}
.text-700 {
  font-weight: 700 !important;
}

/* Starter Template - Nav Bar */
.logo {
  margin: 0 1.6em 0 .5em;
  width: 120px;
}
.logo-title {
  font-weight: 300;
}
.navbar-theme {
  background-image: linear-gradient(90deg, #100a54, #120851);
}
.navbar-theme-outline {
  outline: 1px solid #100a54;
  color: #100a54;
}
.navbar-theme-outline:hover {
  background-color: #100a54;
  color: #fff;
}



/* Starter Tempalte - Dynamic Layout */
@media screen and (max-width: 768px) {
  .something {
    margin: 0;
  }
}

/* Landing Page */
.landing-logo {
  width: 130px;
}
.landing-login-btn {
  text-transform: none !important;
}
.floating-up {
  transform: translatey(0px);
	animation: float-up 6s ease-in-out infinite;
}
.floating-down {
  transform: translatey(0px);
	animation: float-down 6s ease-in-out infinite;
}
@keyframes float-up {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes float-down {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(15px);
	}
	100% {
		transform: translatey(0px);
	}
}
@media screen and (max-width: 992px) {
  .floating-up {
    display: none;
  }
  .floating-down {
    display: none;
  }
}


/* NER */
.ner-Product {background-color: cornflowerblue; color: white !important;}
.ner-Location {background-color: orange; color: black !important;}
.ner-DateTime {background-color: #d30; color: white !important;}
.ner-Person {background-color: cyan; color: black !important;}
.ner-PersonType {background-color: darkorchid; color: white !important;}
.ner-Event {background-color: silver; color: black !important;}
.ner-Quantity {background-color: darkgoldenrod; color: white !important;}
.ner-Organization {background-color: darkolivegreen; color: white !important;}
.ner-Skill {background-color: darkblue; color: white !important;}
.ner-Address {background-color: darkcyan; color: white !important;}
.ner-Email {background-color: lightskyblue; color: black !important;}
.ner-PhoneNumber {background-color: rgb(112, 65, 54); color: black !important;}


/* Demo Config & Sidebar */
.btn-config {
  transition: transform .7s;
}
.btn-config:hover {
  transform: rotate(90deg);
  color: unset !important;
}
.bg-gradient-sidebar {
  background-image: linear-gradient(180deg, rgb(250, 250, 250),rgb(240, 240, 240));
}

/* Demo */
.openai-area {
  height: 20.7em !important;
  overflow-y: auto;
}
.speech-textarea {
  resize: none;
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 19.6em;
  overflow: auto;
  font-weight: 400 !important;
  font-size: 1.1em;
}
.instruction-body-card {
  height: 27.5em;
  overflow: hidden;
  width: 100%;
  color: #eee;
}
.sentiment-body-card {
  overflow: auto;
  width: 100%;
  max-height: 25.5em;
}
.gpt-body-card {
  overflow: auto;
  width: 100%;
}
.mic {
  position: fixed;
  bottom: 3em;
  right: 3em;
}
.micon {
  width: 8em;
  height: 8em;
  box-shadow: 5px 5px 15px #444, 0 0 0 rgba(49, 156, 228, 0.6);
  animation: none;
}
.micon:hover {
  animation: micon 2s infinite;
}
@-webkit-keyframes micon {
  0% {
    -webkit-box-shadow: 5px 5px 15px #444,0 0 0 0 rgba(49, 156, 228, 0.6);
  }
  70% {
      -webkit-box-shadow: 5px 5px 15px #444,0 0 0 25px rgba(49, 156, 228, 0);
  }
  100% {
      -webkit-box-shadow: 5px 5px 15px #444,0 0 0 0 rgba(49, 156, 228, 0);
  }
}
@keyframes micon {
  0% {
    -moz-box-shadow: 5px 5px 15px #444,0 0 0 0 rgba(49, 156, 228, 0.6);
    box-shadow: 5px 5px 15px #444,0 0 0 0 rgba(49, 156, 228, 0.6);
  }
  70% {
      -moz-box-shadow: 5px 5px 15px #444,0 0 0 25px rgba(49, 156, 228, 0);
      box-shadow: 5px 5px 15px #444,0 0 0 25px rgba(49, 156, 228, 0);
  }
  100% {
      -moz-box-shadow: 5px 5px 15px #444,0 0 0 0 rgba(49, 156, 228, 0);
      box-shadow: 5px 5px 15px #444,0 0 0 0 rgba(49, 156, 228, 0);
  }
}
.micoff {
  width: 8em;
  height: 8em;
  box-shadow: 5px 5px 15px #999, 0 0 0 10px rgba(236, 60, 53, 0.1);
  animation: micoff 1.5s infinite;
}
@-webkit-keyframes micoff {
  0% {
    -webkit-box-shadow: 5px 5px 15px #999, 0 0 0 0 rgba(236, 60, 53, 0.4);
  }
  50% {
      -webkit-box-shadow: 5px 5px 15px #999, 0 0 0 20px rgba(236, 60, 53, 0.2);
  }
  100% {
      -webkit-box-shadow: 5px 5px 15px #999, 0 0 0 10px rgba(236, 60, 53, 0);
  }
}
@keyframes micoff {
  0% {
    -moz-box-shadow: 5px 5px 15px #999, 0 0 0 0 rgba(236, 60, 53, 0.4);
    box-shadow: 5px 5px 15px #999, 0 0 0 0 rgba(236, 60, 53, 0.4);
  }
  50% {
      -moz-box-shadow: 5px 5px 15px #999, 0 0 0 20px rgba(236, 60, 53, 0.2);
      box-shadow: 5px 5px 15px #999, 0 0 0 20px rgba(236, 60, 53, 0.2);
  }
  100% {
      -moz-box-shadow: 5px 5px 15px #999, 0 0 0 10px rgba(236, 60, 53, 0);
      box-shadow: 5px 5px 15px #999, 0 0 0 10px rgba(236, 60, 53, 0);
  }
}
.openai_subheading {
  font-size: .85em;
  color: #6bd88f;
}
.modal_subheading {
  font-weight: 700;;
  font-size: 1.2em;
  margin: 1.6em .2em 0 0;
}
.modal_text{
  font-size: 1.15em;
  margin: .3em 0;
}
.sentiment_score {
  font-size: 1.7em;
}
.customlink {
  text-decoration: none;;
  color: var(--theme-lightgray);
}
.customlink:hover {
  color:#36b9cc;
  text-decoration: none;
}